/*!
* Coded by Husnu Darici

/*------------------------------------------------------------------//
  Favorites                           
  .value(@value) { parameter: @value; parameter: @value; }      
//------------------------------------------------------------------*/

/* Common Width & Height || Ortak Width & Height */
.wh(@value) { 
    width: @value; 
    height: @value; 
}
  
  /* Opacity  */
.o(@opacity) {
    @opacityPercentage: @opacity * 100;
    opacity: @opacity;
    filter: ~"alpha(opacity = @{opacityPercentage})";
}
  
/* Transition */
.t(@property, @time) {
    -webkit-transition: @property @time;
    -moz-transition: @property @time;
    -o-transition:  @property @time;
    transition: @property @time;
}
  
/* Scale */
.s(@value) {
    -webkit-transform: scale(@value);
    -moz-transform: scale(@value);
    -ms-transform: scale(@value);
    -o-transform: scale(@value);
    transform: scale(@value);
} 
  
/* Skew */
.skewY(@value) {
    -ms-transform: skewY(@value);
    -webkit-transform: skewY(@value);
    transform: skewY(@value);
}
.skewX(@value) {
    -ms-transform: skewX(@value);
    -webkit-transform: skewX(@value);
    transform: skewX(@value);
}

/* Rotate */
.r(@deg){
    -webkit-transform: rotate(@deg);
    -moz-transform: rotate(@deg);
    -ms-transform: rotate(@deg);
    -o-transform: rotate(@deg);
    transform: rotate(@deg); 
}

/* Black & White || Siyah & Beyaz */
.bw(@percent) {
    -webkit-filter: grayscale(@percent);
    -moz-filter: grayscale(@percent);
    filter: grayscale(@percent);
}

/* Rotate & Scale Together || Rotate ve Scale Birlikte */
.rotateScale(@deg, @value) {
    -webkit-transform: rotate(@deg) scale(@value);
    -moz-transform: rotate(@deg) scale(@value); 
    -ms-transform: rotate(@deg) scale(@value); 
    -o-transform: rotate(@deg) scale(@value); 
    transform: rotate(@deg) scale(@value);
}

/*====================================
=            BREAK POINTS            =
====================================*/
@wide-screen-down: ~'(max-width: 1199px)';
@desktop-down: ~'(max-width: 991px)';
@tablet-down: ~'(max-width: 767px)';
@phone-down: ~'(max-width: 480px)';
@small-phone-down: ~'(max-width: 320px)';

/* Fonts */
@font-face {
	font-family: 'Maax';
	src: url('../fonts/Maax.eot');
	src: local('☺'), url('../fonts/Maax.woff') format('woff'), url('../fonts/Maax.ttf') format('truetype'), url('../fonts/Maax.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Maax-Bold';
	src: url('../fonts/Maax-Bold.eot');
	src: local('☺'), url('../fonts/Maax-Bold.woff') format('woff'), url('../fonts/Maax-Bold.ttf') format('truetype'), url('../fonts/Maax-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Maax-Medium';
	src: url('../fonts/Maax-Medium.eot');
	src: local('☺'), url('../fonts/Maax-Medium.woff') format('woff'), url('../fonts/Maax-Medium.ttf') format('truetype'), url('../fonts/Maax-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

#page {
    font-family: 'Maax';
    padding: 50px;
    @media @tablet-down { padding: 15px; }
    @media @phone-down { padding: 15px; }
    @media @small-phone-down { padding: 15px; }
    &.g-search {
        height: 100vh;
    }
    .in {
        position: relative;
        height: 100%;
        background-color: #f7f9fd;
        padding: 50px;
        border-radius: 5px;
        @media @tablet-down { padding: 15px 0; }
        @media @phone-down { padding: 15px 0; }
        @media @small-phone-down { padding: 15px 0; }
        /* --- Search Page CSS --- */
        &.search {
            #searchForm {
                width: 570px;
                position: relative;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%;);
                .t(all, .5s);
                @media @tablet-down { width: 400px; }
                @media @phone-down { margin: 0 auto; width: 100%; padding: 0 15px; font-size: 12px; }
                @media @small-phone-down { margin: 0 auto; width: 100%; padding: 0 15px; font-size: 10px; }
                input {
                    width: 100%;
                    line-height: 55px;
                    padding: 0 15px;
                    border-radius: 10px;
                    background-color: #ffffff;
                    border: 1px solid #f1eef2;
                    color: #000;
                    outline: none;
                    .t(all, .5s);
                    &::-webkit-input-placeholder {
                        color: #000;
                    }
                    &::-moz-placeholder {
                        color: #000;
                    }
                    &:-ms-input-placeholder {
                        color: #000;
                    }
                    &:-moz-placeholder {
                        color: #000;
                    }
                }
                &:after {
                    content: "";
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    right: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                    background-image: url('../images/spritesheet.png');
                    background-position: -50px 0;
                    background-repeat: no-repeat;
                    background-size: 100px;
                    .t(all, .5s);
                    @media @phone-down { right: 30px; width: 40px; height: 40px; background-position: -38px 3px; background-size: 75px; }
                    @media @small-phone-down { right: 30px;  width: 40px; height: 40px; background-position: -38px 3px; background-size: 75px;}
                }
                #count {
                    position: absolute;
                    padding: 0 10px;
                    line-height: 50px;
                    font-size: 12px;
                    color: rgb(148, 148, 148);
                    right:0;
                    top: 0;
                    opacity: 0;
                }
                &.focused {
                    top: 0;
                    transform: translateX(-50%) translateY(0);
                    .t(all, .5s);
                    &:after {
                        background-position: 0 0;
                        .t(all, .5s);
                        @media @phone-down { background-position: 0 5px; }
                        @media @small-phone-down { background-position: 0 5px; }
                    }
                }
            }
        }
        /* --- List Page CSS --- */
        &.list {
            height: auto;
            #searchForm {
                width: 570px;
                position: relative;
                margin: 0 auto 50px auto;
                @media @tablet-down { width: 400px; }
                @media @phone-down { margin: 0 auto; width: 100%; padding: 0 15px; }
                @media @small-phone-down { margin: 0 auto; width: 100%; padding: 0 15px; }
                input {
                    width: 100%;
                    line-height: 55px;
                    padding: 0 15px;
                    background: transparent;
                    border: none;
                    border-bottom: 1px solid #5883ff;
                    color: #000;
                    outline: none;
                    .t(all, .5s);
                    &::-webkit-input-placeholder {
                        color: #5883ff;
                    }
                    &::-moz-placeholder {
                        color: #5883ff;
                    }
                    &:-ms-input-placeholder {
                        color: #5883ff;
                    }
                    &:-moz-placeholder {
                        color: #5883ff;
                    }
                }
                #count {
                    position: absolute;
                    padding: 0 10px;
                    line-height: 56px;
                    font-size: 12px;
                    color: #9b9b9b;
                    right: 0;
                    top: 0;
                    @media @phone-down { right: 15px; }
                    @media @small-phone-down { right: 15px; }
                }
            }
            #movies {
                .movie {
                    list-style-type: none;
                    padding: 30px 0;
                    border-bottom: 1px solid #f0edf1;
                    @media @tablet-down { display: block !important; padding: 15px; }
                    @media @phone-down { display: block !important; padding: 15px; }
                    figure {
                        margin: 0;
                    }
                    .movie-info {
                        font-size: 13px;
                        @media @tablet-down { padding: 15px 0; }
                        @media @phone-down { padding: 15px 0; }
                        .title {
                            margin-bottom: 25px;
                            @media @tablet-down { margin-bottom: 10px; }
                            h2 {
                                font-size: 18px;
                                line-height: 18px;
                                margin: 0;
                                @media @wide-screen-down { font-size: 16px; line-height: 16px; }
                                @media @desktop-down { font-size: 16px; line-height: 16px; }
                                @media @tablet-down { font-size: 14px; line-height: 14px; }
                                span {
                                    display: inline-block;
                                    font-size: 18px;
                                    font-family: 'Maax-Bold';
                                    @media @tablet-down { font-size: 14px; }
                                }
                            }
                        }
                        span {
                            display: block;
                            font-size: 14px;
                            @media @wide-screen-down { font-size: 12px; }
                            @media @desktop-down { font-size: 12px; }
                            @media @tablet-down { font-size: 12px; }
                            a {
                                color: #000;
                                text-decoration: underline;
                                &:after {
                                    content: ">>";
                                    letter-spacing: -1px;
                                    padding: 0 5px;
                                    display: inline-block;
                                }
                            }
                            strong {
                                font-family: 'Maax-Bold';
                            }
                            &.imdb {
                                font-size: 11px;
                                color: #9b9b9b;
                                .star-icon {
                                    position: relative;
                                    display: inline-block;
                                    background-image: url('../images/spritesheet.png');
                                    width: 13px;
                                    height: 13px;
                                    background-position: -5px -48px;
                                    background-repeat: no-repeat;
                                    background-size: 100px;         
                                }
                                b {
                                    color: #5883ff;
                                    font-size: 18px;
                                    @media @tablet-down { font-size: 14px; }
                                }
                                @media @wide-screen-down { font-size: 16px; line-height: 0; }
                                @media @desktop-down { font-size: 16px; line-height: 0; }
                                @media @tablet-down { font-size: 11px; }
                            }
                            &.plot {
                                margin-top: 25px;
                                @media @wide-screen-down { margin-top: 15px; }
                                @media @desktop-down { margin-top: 15px; }
                                @media @tablet-down { margin-top: 10px; }
                                p {
                                    margin: 0;
                                    overflow: hidden;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 3;
                                    -webkit-box-orient: vertical;
                                }
                            }
                        }
                    }
                    &:last-child {
                        border: none;
                    }
                    &:nth-last-child(3) {
                        border: none;
                    }
                }
                .pageUP {
                    width: 100%;
                    display: block;
                    background: none;
                    border: none;
                    color: #5883ff;
                    text-align: center;
                    line-height: 50px;
                    font-weight: bold;
                    border-top: 1px solid #f0edf1;
                    text-decoration: none;
                }
            }
        }
    }
}

/* --- Result Box CSS --- */
.ui-autocomplete {
    position: absolute;
    width: 570px  !important;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(88,131,255,0.1);
    background-color: #ffffff;
    border: 1px solid #f1eef2;
    left: 50% !important;
    top: 175px !important;
    padding: 0;
    margin: 0;
    transform: translate(-50%);
    background-color: #FFF;
    border: 1px solid #f1eef2;
    border-radius: 10px;
    box-shadow: 0 2px 10px -8px #000;
    @media @tablet-down { width: 80% !important; top: 92px !important; }
    @media @phone-down { width: 80% !important; top: 92px !important; }
    @media @small-phone-down { width: 80% !important; top: 92px !important; }
    &:before {
        content: "";
        border: 15px solid #FFF;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        top: -29px;
        position: absolute;
        left: 30px;
    }
    .movie{
        list-style-type: none;
        padding: 30px 0;
        margin: 0 30px;
        border-bottom: 1px solid #f0edf1;
        @media @phone-down { margin: 0 15px; padding: 15px 0; }
        @media @small-phone-down { margin: 0 15px; padding: 15px 0; }
        figure {
            margin: 0;
            @media @phone-down { margin: 0 65px; }
            @media @small-phone-down { margin: 0 65px; }
        }
        .movie-info {
            font-size: 13px;
            @media @tablet-down { padding: 15px 0; }
            @media @phone-down { padding: 15px 0; }
            .title {
                margin-bottom: 25px;
                @media @tablet-down { margin-bottom: 10px; }
                h2 {
                    font-size: 18px;
                    line-height: 18px;
                    margin: 0;
                    @media @wide-screen-down { font-size: 16px; line-height: 16px; }
                    @media @desktop-down { font-size: 16px; line-height: 16px; }
                    @media @tablet-down { font-size: 14px; line-height: 14px; }
                    span {
                        display: inline-block;
                        font-size: 18px;
                        font-family: 'Maax-Bold';
                        @media @tablet-down { font-size: 14px; }
                    }
                }
            }
            span {
                display: block;
                font-size: 14px;
                @media @wide-screen-down { font-size: 12px; }
                @media @desktop-down { font-size: 12px; }
                @media @tablet-down { font-size: 12px; }
                a {
                    color: #000;
                    text-decoration: underline;
                    &:after {
                        content: ">>";
                        letter-spacing: -1px;
                        padding: 0 5px;
                        display: inline-block;
                    }
                }
                strong {
                    font-family: 'Maax-Bold';
                }
                &.imdb {
                    font-size: 11px;
                    color: #9b9b9b;
                    .star-icon {
                        position: relative;
                        display: inline-block;
                        background-image: url('../images/spritesheet.png');
                        width: 13px;
                        height: 13px;
                        background-position: -5px -48px;
                        background-repeat: no-repeat;
                        background-size: 100px;         
                    }
                    b {
                        color: #5883ff;
                        font-size: 18px;
                        @media @tablet-down { font-size: 14px; }
                    }
                    @media @wide-screen-down { font-size: 16px; line-height: 0; }
                    @media @desktop-down { font-size: 16px; line-height: 0; }
                    @media @tablet-down { font-size: 11px; }
                }
                &.plot {
                    margin-top: 25px;
                    @media @wide-screen-down { margin-top: 15px; }
                    @media @desktop-down { margin-top: 15px; }
                    @media @tablet-down { margin-top: 10px; }
                    p {
                        margin: 0;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                    }
                }
            }
        }
        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }
    }
    .showAll {
        width: 100%;
        display: block;
        background: none;
        border: none;
        color: #5883ff;
        text-align: center;
        line-height: 50px;
        font-weight: bold;
        border-top: 1px solid #f0edf1;
        &:after {
            content: ">>";
            letter-spacing: -1px;
            padding: 0 10px;
        }
    }
}

.ui-helper-hidden-accessible {
    display: none;
}