/*!
* Coded by Husnu Darici

/*------------------------------------------------------------------//
  Favorites                           
  .value(@value) { parameter: @value; parameter: @value; }      
//------------------------------------------------------------------*/
/* Common Width & Height || Ortak Width & Height */
/* Opacity  */
/* Transition */
/* Scale */
/* Skew */
/* Rotate */
/* Black & White || Siyah & Beyaz */
/* Rotate & Scale Together || Rotate ve Scale Birlikte */
/* Fonts */
@font-face {
  font-family: 'Maax';
  src: url('../fonts/Maax.eot');
  src: local('☺'), url('../fonts/Maax.woff') format('woff'), url('../fonts/Maax.ttf') format('truetype'), url('../fonts/Maax.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Maax-Bold';
  src: url('../fonts/Maax-Bold.eot');
  src: local('☺'), url('../fonts/Maax-Bold.woff') format('woff'), url('../fonts/Maax-Bold.ttf') format('truetype'), url('../fonts/Maax-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Maax-Medium';
  src: url('../fonts/Maax-Medium.eot');
  src: local('☺'), url('../fonts/Maax-Medium.woff') format('woff'), url('../fonts/Maax-Medium.ttf') format('truetype'), url('../fonts/Maax-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
#page {
  font-family: 'Maax';
  padding: 50px;
}
#page.g-search {
  height: 100vh;
}
#page .in {
  position: relative;
  height: 100%;
  background-color: #f7f9fd;
  padding: 50px;
  border-radius: 5px;
  /* --- Search Page CSS --- */
  /* --- List Page CSS --- */
}
#page .in.search #searchForm {
  width: 570px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#page .in.search #searchForm input {
  width: 100%;
  line-height: 55px;
  padding: 0 15px;
  border-radius: 10px;
  background-color: #ffffff;
  border: 1px solid #f1eef2;
  color: #000;
  outline: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#page .in.search #searchForm input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #000;
}
#page .in.search #searchForm input::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
}
#page .in.search #searchForm input:-ms-input-placeholder {
  /* IE 10+ */
  color: #000;
}
#page .in.search #searchForm input:-moz-placeholder {
  /* Firefox 18- */
  color: #000;
}
#page .in.search #searchForm:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url('../images/spritesheet.png');
  background-position: -50px 0;
  background-repeat: no-repeat;
  background-size: 100px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#page .in.search #searchForm #count {
  position: absolute;
  padding: 0 10px;
  line-height: 50px;
  font-size: 12px;
  color: #949494;
  right: 0;
  top: 0;
  opacity: 0;
}
#page .in.search #searchForm.focused {
  top: 0;
  transform: translateX(-50%) translateY(0);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#page .in.search #searchForm.focused:after {
  background-position: 0 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#page .in.list {
  height: auto;
}
#page .in.list #searchForm {
  width: 570px;
  position: relative;
  margin: 0 auto 50px auto;
}
#page .in.list #searchForm input {
  width: 100%;
  line-height: 55px;
  padding: 0 15px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #5883ff;
  color: #000;
  outline: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#page .in.list #searchForm input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #5883ff;
}
#page .in.list #searchForm input::-moz-placeholder {
  /* Firefox 19+ */
  color: #5883ff;
}
#page .in.list #searchForm input:-ms-input-placeholder {
  /* IE 10+ */
  color: #5883ff;
}
#page .in.list #searchForm input:-moz-placeholder {
  /* Firefox 18- */
  color: #5883ff;
}
#page .in.list #searchForm #count {
  position: absolute;
  padding: 0 10px;
  line-height: 50px;
  font-size: 12px;
  color: #9b9b9b;
  right: 0;
  top: 0;
}
#page .in.list #movies .movie {
  list-style-type: none;
  padding: 30px 0;
  border-bottom: 1px solid #f0edf1;
}
#page .in.list #movies .movie figure {
  margin: 0;
}
#page .in.list #movies .movie .movie-info {
  font-size: 13px;
}
#page .in.list #movies .movie .movie-info .title {
  margin-bottom: 25px;
}
#page .in.list #movies .movie .movie-info .title h2 {
  font-size: 18px;
  line-height: 18px;
  margin: 0;
}
#page .in.list #movies .movie .movie-info .title h2 span {
  display: inline-block;
  font-size: 18px;
}
#page .in.list #movies .movie .movie-info span {
  display: block;
  font-size: 14px;
}
#page .in.list #movies .movie .movie-info span a {
  color: #000;
  text-decoration: underline;
}
#page .in.list #movies .movie .movie-info span a:after {
  content: ">>";
  letter-spacing: -4px;
  padding: 0 10px;
  display: inline-block;
}
#page .in.list #movies .movie .movie-info span.imdb {
  font-size: 11px;
  color: #9b9b9b;
}
#page .in.list #movies .movie .movie-info span.imdb .star-icon {
  position: relative;
  display: inline-block;
  background-image: url('../images/spritesheet.png');
  width: 13px;
  height: 13px;
  background-position: -5px -48px;
  background-repeat: no-repeat;
  background-size: 100px;
}
#page .in.list #movies .movie .movie-info span.imdb b {
  color: #5883ff;
  font-size: 18px;
}
#page .in.list #movies .movie .movie-info span.plot {
  margin-top: 25px;
}
#page .in.list #movies .movie .movie-info span.plot p {
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
#page .in.list #movies .movie:last-child {
  border: none;
}
#page .in.list #movies .movie:nth-last-child(3) {
  border: none;
}
#page .in.list #movies .more {
  width: 100%;
  display: block;
  background: none;
  border: none;
  color: #5883ff;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  border-top: 1px solid #f0edf1;
  text-decoration: none;
}
/* --- Result Box CSS --- */
.ui-autocomplete {
  position: absolute;
  width: 570px  !important;
  box-shadow: 0px 2px 10px rgba(88, 131, 255, 0.1);
  background-color: #ffffff;
  left: 50% !important;
  top: 175px !important;
  padding: 0;
  margin: 0;
  transform: translate(-50%);
  background-color: #FFF;
  border: 1px solid #f1eef2;
  border-radius: 10px;
  box-shadow: 0 2px 10px -8px #000;
}
.ui-autocomplete:before {
  content: "";
  border: 15px solid #FFF;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  top: -29px;
  position: absolute;
  left: 30px;
}
.ui-autocomplete .movie {
  list-style-type: none;
  padding: 30px 0;
  margin: 0 30px;
  border-bottom: 1px solid #f0edf1;
}
.ui-autocomplete .movie figure {
  margin: 0;
}
.ui-autocomplete .movie .movie-info {
  font-size: 13px;
}
.ui-autocomplete .movie .movie-info .title {
  margin-bottom: 25px;
}
.ui-autocomplete .movie .movie-info .title h2 {
  font-size: 18px;
  line-height: 18px;
  margin: 0;
}
.ui-autocomplete .movie .movie-info .title h2 span {
  display: inline-block;
  font-size: 18px;
}
.ui-autocomplete .movie .movie-info span {
  display: block;
  font-size: 14px;
}
.ui-autocomplete .movie .movie-info span a {
  color: #000;
  text-decoration: underline;
}
.ui-autocomplete .movie .movie-info span a:after {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  background-image: url('../images/spritesheet.png');
  background-position: -5px -48px;
  background-repeat: no-repeat;
  background-size: 100px;
}
.ui-autocomplete .movie .movie-info span.imdb {
  font-size: 11px;
  color: #9b9b9b;
}
.ui-autocomplete .movie .movie-info span.imdb .star-icon {
  position: relative;
  display: inline-block;
  background-image: url('../images/spritesheet.png');
  width: 13px;
  height: 13px;
  background-position: -5px -48px;
  background-repeat: no-repeat;
  background-size: 100px;
}
.ui-autocomplete .movie .movie-info span.imdb b {
  color: #5883ff;
  font-size: 18px;
}
.ui-autocomplete .movie .movie-info span.plot {
  margin-top: 25px;
}
.ui-autocomplete .movie .movie-info span.plot p {
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.ui-autocomplete .movie:last-child {
  border-bottom: none;
}
.ui-autocomplete .showAll {
  width: 100%;
  display: block;
  background: none;
  border: none;
  color: #5883ff;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  border-top: 1px solid #f0edf1;
}
.ui-autocomplete .showAll:after {
  content: ">>";
  letter-spacing: -4px;
  padding: 0 10px;
}
.ui-helper-hidden-accessible {
  display: none;
}
